body, html {
    height: 100%;
    overflow-y: hidden;
    min-height: 100%;
}
.tabsdemoStaticTabs {
    /*
   * Animation styles
   */ }
.login-background{
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    background-color: #3F51B5 !important;
}
.tabsdemoStaticTabs .sample {
    height: 450px; }
.tabsdemoStaticTabs #tab1-content {
    background-color: #3F51B5; }
.tabsdemoStaticTabs #tab2-content {
    background-color: #673AB7; }
.tabsdemoStaticTabs #tab3-content {
    background-color: #00796B; }
.tabsdemoStaticTabs .tabpanel-container {
    display: block;
    position: relative;
    background: white;
    border: 0px solid black;
    height:720px;
    overflow: hidden; }
.tabsdemoStaticTabs [role="tabpanel"] {
    color: #000;
    width: 100%;
    height: 100%;
    -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
    position: absolute; }
.tabsdemoStaticTabs [role="tabpanel"].ng-leave.ng-leave-active, .tabsdemoStaticTabs [role="tabpanel"].ng-enter {
    top: -300px; }
.tabsdemoStaticTabs [role="tabpanel"].ng-leave, .tabsdemoStaticTabs [role="tabpanel"].ng-enter.ng-enter-active {
    top: 0; }
.tabsdemoStaticTabs [role="tabpanel"].ng-leave {
    z-index: 100; }
.tabsdemoStaticTabs .tabpanel-container [role="tabpanel"] {
    padding: 20px; }
.tabsdemoStaticTabs .after-tabs-area {
    padding: 25px; }
.tabsdemoStaticTabs .after-tabs-area > span {
    margin-top: 25px;
    padding-right: 15px;
    vertical-align: middle;
    line-height: 30px;
    height: 35px; }
.tabsdemoStaticTabs .after-tabs-area > md-checkbox {
    margin-top: 26px;
    margin-left: 0px; }
.tabsdemoStaticTabs .md-header {
    background-color: #1976D2 !important; }
.tabsdemoStaticTabs md-tab {
    color: #90caf9 !important; }
.tabsdemoStaticTabs md-tab.active, .tabsdemoStaticTabs md-tab:focus {
    color: white !important; }
.tabsdemoStaticTabs md-tab[disabled] {
    opacity: 0.5; }
.tabsdemoStaticTabs .md-header .md-ripple {
    border-color: #FFFF8D !important; }
.tabsdemoStaticTabs md-tabs-ink-bar {
    background-color: #FFFF8D !important; }
.tabsdemoStaticTabs md-tabs .md-paginator {
    color: white;
}

.gridListdemoBasicUsage md-grid-list {
    margin: 8px; }
.gridListdemoBasicUsage .gris {
    background: #f5f5f5; }
.gridListdemoBasicUsage .verde {
    background: #b9f6ca; }
.gridListdemoBasicUsage .amarillo {
    background: #ffff8d; }
.gridListdemoBasicUsage .azul {
    background: #84ffff; }
.gridListdemoBasicUsage .morado {
    background: #b388ff; }
.gridListdemoBasicUsage .rojo {
    background: #ff8a80; }
.gridListdemoBasicUsage md-grid-tile {
    transition: all 400ms ease-out 50ms; }


::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

md-content.md-docs-dark-theme {
    background-color: #1976D2;
}

.md-warn {
    background: #F44336;
    color: #ffffff;
}
button.md-raised.md-alarm.md-button.md-default-theme {
    background: #f4d77c;
    color: #ffffff;
}

