<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>351Bistro POS</title>
    <link rel="stylesheet" href="lib/material/angular-material.min.css">
    <link rel="stylesheet" href="css/styles.css"/>
</head>
<body ng-app="bistroGrill">
<div layout="column" ng-controller="LoginController" ng-show="$storage.loggedOut">
    <md-card >
        <md-card-content class="login-background" >
            <md-toolbar class="md-primary">
                <h1 class="md-toolbar-tools"> Iniciar Sesión
                </h1>
            </md-toolbar>
            <md-content layout-padding>
                <form ng-submit="login()" name="projectForm">
                    <md-input-container>
                        <label>Username</label>
                        <input required name="username" ng-model="user.username">
                    </md-input-container>
                    <md-input-container>
                        <label>Password</label>
                        <input required name="password" type="password" ng-model="user.password">
                    </md-input-container>
                    <md-button style="width: 100%"  class="md-raised md-primary" type="submit">Iniciar</md-button>
                </form>
            </md-content>
        </md-card-content>
    </md-card>
</div>
<div layout="column" ng-controller="GlobalController" class="tabsdemoStaticTabs sample" ng-show="$storage.logged">
    <div layout="row">
        <div flex>
            <md-tabs class="md-accent" md-selected="data.selectedIndex">
                <md-tab id="tab1" aria-controls="tab1-content">
                    Mesas
                </md-tab>
                <md-tab id="tab2" aria-controls="tab2-content">
                    Venta
                </md-tab>
                <md-tab id="tab3" ng-hide="true" aria-controls="tab3-content">
                    Reporte
                </md-tab>
                <md-tab id="tab4" ng-if="$storage.user.tipo == 1" aria-controls="tab4-content">
                    Configuracion
                </md-tab>
            </md-tabs>
        </div>
        <div flex style="text-align: center;background-color: #1976D2 !important;">
            <md-button style="width: 100%; height: 48px"  ng-click="logOut($event)"> {{$storage.user.username}}</md-button>
        </div>

    </div>


    <ng-switch on="data.selectedIndex" class="tabpanel-container">

        <div role="tabpanel"
             ng-controller="MesasController"
             id="tab1-content"
             aria-labelledby="tab1"
             ng-switch-when="0"
             md-swipe-left="next()"
             md-swipe-right="previous()" >
            <section layout="row" flex>
                <md-content flex class="md-padding">
                    <div class="gridListdemoBasicUsage" style="overflow-y: auto">
                        <md-grid-list
                            md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
                            md-row-height-gt-md="1:1" md-row-height="2:2"
                            md-gutter="12x" md-gutter-gt-sm="8px" >
                            <md-grid-tile ng-repeat="mesa in mesas track by $index" ng-click="doSomething(mesa.id)" class="{{mesa.status}}">
                                <h1 style="color: #ffffff">{{mesa.cantidad}}</h1>
                                <md-grid-tile-footer>
                                    <h3>{{mesa.nombre}}</h3>
                                </md-grid-tile-footer>
                            </md-grid-tile>
                        </md-grid-list>
                    </div>
                </md-content>
            </section>
        </div>
        <div role="tabpanel"
             id="tab2-content"
             aria-labelledby="tab2"
             ng-controller="VentasController"
             ng-switch-when="1"
             md-swipe-left="next()"
             md-swipe-right="previous()" >
            <section layout="row" flex>
                <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="true">
                    <md-toolbar class="md-theme-indigo">
                        <h1 class="md-toolbar-tools">
                            <span ng-show="$storage.selectedMesa">{{$storage.selectedMesa.nombre}}</span>
                            <span ng-hide="$storage.selectedMesa">Seleccione Mesa</span>

                        <span style="margin-left: 15px">
                            <md-button class="md-raised" ng-click="showSelectMesa($event)">Cambiar Mesa</md-button>
                        </span>
                        </h1>
                    </md-toolbar>
                    <md-content class="md-padding">
                        <div style="height: 15em; overflow-y: auto">

                            <md-list >
                                <md-item ng-click="remove(producto)" ng-repeat="producto in prodSel track by $index">
                                    <md-item-content >
                                        <div class="md-tile-left">
                                            <h4>{{producto.nombre}}
                                                <br/>
                                                RD${{producto.precio}}
                                            </h4>

                                        </div>
                                        <div class="md-tile-content">
                                            <h4  style="padding-left: 15px">Desc: {{producto.descuento}}%</h4>
                                        </div>
                                        <div class="md-tile-content">
                                            <h4  style="padding-left: 5px">Canti: {{producto.cantidad}}</h4>
                                        </div>
                                    </md-item-content>
                                    <md-divider></md-divider>
                                </md-item>
                            </md-list>
                        </div>
                        <hr/>
                        <div>
                            <h5><p>Subtotal: {{$storage.values.subtotal.toFixed(2)}}</p>
                                <p>ITBIS: {{$storage.values.itbis.toFixed(2)}}</p>
                                <p>TOTAL: {{$storage.values.total.toFixed(2)}}</p></h5>
                        </div>
                        <md-button style="width: 100%" class="md-raised" ng-click="limpiarMesa()">Limpiar Venta</md-button>
                        <br/>
                        <br/>
                        <md-button style="width: 100%"  class="md-raised md-primary" ng-click="vender($event)">Vender</md-button>

                    </md-content>
                </md-sidenav>
                <md-content flex>
                    <md-tabs md-selected="selectedIndex" md-border-bottom>
                        <md-tab ng-click="filterCategories(categoria.id)" ng-repeat="categoria in categorias track by $index"
                                label="{{categoria.nombre}}">
                            <div >
                                <div ng-bind="tab.id"></div>
                                <br/>
                            </div>
                        </md-tab>
                    </md-tabs>
                    <div class="gridListdemoBasicUsage">
                        <md-grid-list
                            md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
                            md-row-height-gt-md="1:1" md-row-height="2:2"
                            md-gutter="12x" md-gutter-gt-sm="8px" >
                            <md-grid-tile ng-click="showSelectProducto(producto)" class="{{producto.color}}" ng-repeat="producto in productos track by $index">
                                <md-grid-tile-footer >
                                    <h3>{{producto.nombre}}</h3>
                                </md-grid-tile-footer>
                            </md-grid-tile>
                        </md-grid-list>
                    </div>
                </md-content>
            </section>
        </div>

        <div role="tabpanel"
             id="tab3-content"
             ng-controller="ReporteController"
             aria-labelledby="tab3"
             ng-switch-when="2"
             md-swipe-left="next()"
             md-swipe-right="previous()" >
            <section >
                <!--<md-toolbar class="md-theme-indigo">-->
                <!--<h4 class="md-toolbar-tools">-->
                <!--<span>-->

                <!--<md-button class="md-raised" ng-click="showCreateMesa($event)">Nueva Mesa</md-button>-->
                <!--<md-button class="md-raised" ng-click="showCreateArea($event)">Nueva Area</md-button>-->
                <!--</span>-->
                <!--</h4>-->
                <!--</md-toolbar>-->
                <md-content>
                    <div style="height: 15em; overflow-y: auto">
                        <md-content md-theme="docs-dark" class="md-padding" layout="row" layout-sm="column">
                            <md-input-container>
                                <label>Fecha Inicio</label>
                                <input ng-model="inData.startDate" type="date">
                            </md-input-container>
                            <md-input-container>
                                <label>Fecha Final</label>
                                <input ng-model="inData.endDate" type="date">
                            </md-input-container>
                            <md-select flex placeholder="Usuario" ng-model="inData.userId">
                                <md-option  value="1">Ariel</md-option>
                            </md-select>
                            <md-select flex placeholder="Mesa" ng-model="inData.mesaId">
                                <md-option  value="1">Mesa 1</md-option>
                            </md-select>
                            <md-button ng-click="generarReporte()" class="md-warn">Generar Reporte</md-button>

                        </md-content>

                    </div>
                    <md-content class="md-padding">
                        <div style="overflow-y: auto">
                            {{$storage.reporte}}

                            <md-list >
                                <!--<md-item ng-repeat="producto in $storage.productos track by $index">-->
                                <!--<md-item-content >-->
                                <!--<div class="md-tile-left">-->
                                <!--<h4>{{producto.nombre}}-->
                                <!--<br/>-->
                                <!--RD${{producto.precio}}-->
                                <!--</h4>-->

                                <!--</div>-->
                                <!--<div class="md-tile-content">-->
                                <!--<h4  style="padding-left: 15px">Desc: {{producto.descuento}}%</h4>-->
                                <!--</div>-->
                                <!--<div class="md-tile-content">-->
                                <!--<h4  style="padding-left: 5px">Canti: {{producto.cantidad}}</h4>-->
                                <!--</div>-->
                                <!--</md-item-content>-->
                                <!--<md-divider></md-divider>-->
                                <!--</md-item>-->
                            </md-list>
                        </div>
                    </md-content>
                </md-content>

            </section>
        </div>
        <div role="tabpanel"
             ng-controller="ConfiguracionController"
             id="tab1-content"
             aria-labelledby="tab4"
             ng-switch-when="3"
             md-swipe-left="next()"
             md-swipe-right="previous()" >
            <section layout="row" flex>

                <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="true">
                    <md-toolbar class="md-theme-indigo">
                        <h1 class="md-toolbar-tools">Configuracion</h1>
                    </md-toolbar>
                    <md-content class="md-padding">
                        <md-button style="width: 100%" ng-click="selectedMenu = 'productos' " class="md-raised">Productos</md-button>
                        <br/>
                        <br/>
                        <md-button style="width: 100%" ng-click="selectedMenu = 'mesas'" class="md-raised">Mesas</md-button>
                        <br/>
                        <br/>
                        <md-button style="width: 100%" ng-click="selectedMenu = 'usuarios' " class="md-raised">Usuarios</md-button>
                        <br/>
                        <br/>
                    </md-content>
                </md-sidenav>
                <md-content flex  ng-switch on="selectedMenu">
                    <div ng-switch-when="productos">
                        <md-content>
                            <md-toolbar class="gris">
                                <h2 class="md-toolbar-tools">
                                    <span>
                                        <md-button class="md-raised" ng-click="showCreateProduct($event)">Nuevo Producto</md-button>
                                        <md-button class="md-raised" ng-click="showCreateCategoria($event)">Nueva Categoria</md-button>
                                    </span>
                                </h2>
                            </md-toolbar>
                        </md-content>
                        <md-content style="max-height: 500px; min-height: 500px">
                            <div layout="row">
                                <div flex style="padding: 10px; overflow-y: auto; overflow-x: hidden">
                                    <md-list>
                                        <md-subheader class="md-no-sticky">Productos</md-subheader>
                                        <md-list-item ng-repeat="producto in productos" >
                                            <div layout="row">
                                                <div flex>
                                                    <h4>{{producto.nombre}}</h4>
                                                </div>
                                                <div flex>
                                                    <h4 style="margin-left: 30px">RD${{producto.precio}}</h4>
                                                </div>
                                                <div flex>
                                                    <h4><md-button class="md-raised md-alarm">Editar</md-button>
                                                        <md-button class="md-raised md-warn">Borrar</md-button></h4>
                                                </div>
                                            </div>
                                            <md-divider></md-divider>
                                        </md-list-item>
                                    </md-list>
                                </div>
                                <div flex="44" style="padding: 10px; overflow-y: auto">
                                    <md-list>
                                        <md-subheader class="md-no-sticky">Categorias</md-subheader>
                                        <md-list-item ng-repeat="category in categorias">
                                            <div layout="row">
                                                <div flex>
                                                    <h4>{{category.nombre}}</h4>
                                                </div>
                                                <div flex>
                                                    <h4><md-button class="md-raised md-alarm">Editar</md-button>
                                                        <md-button class="md-raised md-warn">Borrar</md-button></h4>
                                                </div>
                                            </div>
                                            <md-divider></md-divider>
                                        </md-list-item>
                                    </md-list>
                                </div>
                            </div>
                        </md-content>
                    </div>
                    <div ng-switch-when="mesas" style="max-height: 500px; min-height: 500px">
                        <md-content>
                            <md-toolbar class="gris">
                                <h2 class="md-toolbar-tools">
                                    <span>
                                        <md-button class="md-raised" ng-click="showCreateMesa($event)">Nueva Mesa</md-button>
                                        <md-button class="md-raised" ng-click="showCreateArea($event)">Nueva Area</md-button>
                                    </span>
                                </h2>
                            </md-toolbar>
                        </md-content>
                        <md-content style="max-height: 500px; min-height: 500px">
                            <div layout="row">
                                <div flex style="padding: 10px; overflow-y: auto; overflow-x: hidden">
                                    <md-list>
                                        <md-subheader class="md-no-sticky">Mesas</md-subheader>
                                        <md-list-item ng-repeat="mesa in mesas" >
                                            <div layout="row">
                                                <div flex>
                                                    <h4>{{mesa.nombre}}</h4>
                                                </div>
                                                <div flex>
                                                    <h4 style="margin-left: 30px">Personas: {{mesa.cantidad}}</h4>
                                                </div>
                                                <div flex>
                                                    <h4><md-button class="md-raised md-alarm">Editar</md-button>
                                                        <md-button class="md-raised md-warn">Borrar</md-button></h4>
                                                </div>
                                            </div>
                                            <md-divider></md-divider>
                                        </md-list-item>
                                    </md-list>
                                </div>
                                <div flex="44" style="padding: 10px; overflow-y: auto">
                                    <md-list>
                                        <md-subheader class="md-no-sticky">Areas</md-subheader>
                                        <md-list-item ng-repeat="area in areas">
                                            <div layout="row">
                                                <div flex>
                                                    <h4>{{area.nombre}}</h4>
                                                </div>
                                                <div flex>
                                                    <h4><md-button class="md-raised md-alarm">Editar</md-button>
                                                        <md-button class="md-raised md-warn">Borrar</md-button></h4>
                                                </div>
                                            </div>
                                            <md-divider></md-divider>
                                        </md-list-item>
                                    </md-list>
                                </div>
                            </div>
                        </md-content>

                    </div>
                    <div ng-switch-when="usuarios" style="max-height: 500px; min-height: 500px">
                        <md-content>
                            <md-toolbar class="gris">
                                <h2 class="md-toolbar-tools">
                                    <span>
                                        <md-button class="md-raised" ng-click="showCreateUsuario($event)">Nuevo Usuario</md-button>
                                    </span>
                                </h2>
                            </md-toolbar>
                        </md-content>
                        <md-content style="max-height: 500px; min-height: 500px">
                            <div layout="row">
                                <div flex style="padding: 10px; overflow-y: auto; overflow-x: hidden">
                                    <md-list>
                                        <md-subheader class="md-no-sticky">Usuarios</md-subheader>
                                        <md-list-item ng-repeat="usuario in usuarios" >
                                            <div layout="row">
                                                <div flex>
                                                    <h4>{{usuario.nombre}} {{usuario.apellido}}</h4>
                                                </div>
                                                <div flex>
                                                    <h4 style="margin-left: 30px">Username: {{usuario.username}}</h4>
                                                </div>
                                                <div flex>
                                                    <h4 style="margin-left: 30px">Cedula: {{usuario.cedula}}</h4>
                                                </div>
                                                <div flex>
                                                    <h4 style="margin-left: 30px">Grupo: {{usuario.tipo}}</h4>
                                                </div>
                                                <div flex>
                                                    <h4><md-button class="md-raised md-alarm">Editar</md-button>
                                                        <md-button class="md-raised md-warn">Borrar</md-button></h4>
                                                </div>
                                            </div>
                                            <md-divider></md-divider>
                                        </md-list-item>
                                    </md-list>
                                </div>
                            </div>
                        </md-content>
                    </div>
            </section>
        </div>
    </ng-switch>

</div>


<script src="lib/pouchdb/pouchdb-3.3.1.min.js"></script>
<script src="lib/momentjs/moment.js"></script>
<script src="lib/momentjs/moment-range.js"></script>
<script src="lib/angular/angular.min.js"></script>
<script src="lib/angular/angular-animate.min.js"></script>
<script src="lib/angular/angular-aria.min.js"></script>
<script src="lib/angular-ui/angular-ui-router.min.js"></script>
<script src="lib/ngStorage/ngStorage.min.js"></script>
<script src="lib/material/angular-material.min.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
</body>
</html>