<md-dialog aria-label="Nueva Mesa">
    <md-content class="sticky-container">
        <md-subheader class="md-sticky-no-effect">Nueva Mesa</md-subheader>
        <div class="dialog-content">
            <form name="userForm">
                <md-input-container flex>
                    <label>Nombre de la Mesa</label>
                    <input ng-model="mesa.nombre" placeholder="Mesa Principal">
                </md-input-container>
                <div layout layout-sm="column">
                    <!--<md-input-container flex>-->
                        <md-select flex placeholder="Area" ng-model="mesa.area">
                            <md-option ng-repeat="area in areas" value="{{area.id}}">{{area.nombre}}</md-option>
                        </md-select>
                    <!--</md-input-container>-->
                    <md-input-container flex>
                        <label>Cantidad</label>
                        <input type="number" ng-model="mesa.cantidad" placeholder="5">
                    </md-input-container>
                </div>
            </form>
        </div>
    </md-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="answer('cancel')">
            Cancelar
        </md-button>
        <md-button ng-click="answer('useful')" class="md-primary">
            Guardar
        </md-button>
    </div>
</md-dialog>