<md-dialog aria-label="Nueva Mesa">
    <md-content class="sticky-container">
        <md-subheader class="md-sticky-no-effect">Nueva Area</md-subheader>
        <div class="dialog-content">
            <form name="userForm">
                <md-input-container flex>
                    <label>Nombre del Area</label>
                    <input ng-model="area.nombre" placeholder="Balcon">
                </md-input-container>
                <!--<div layout layout-sm="column">-->
                    <!--<md-input-container flex>-->
                        <!--<label>Area</label>-->
                        <!--<input ng-model="mesa.area" placeholder="Balcon">-->
                    <!--</md-input-container>-->
                    <!--<md-input-container flex>-->
                        <!--<label>Cantidad</label>-->
                        <!--<input type="number" ng-model="mesa.cantidad" placeholder="5">-->
                    <!--</md-input-container>-->
                <!--</div>-->
            </form>
        </div>
    </md-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="answer('cancel')">
            Cancelar
        </md-button>
        <md-button ng-click="answer('useful')" class="md-primary">
            Guardar
        </md-button>
    </div>
</md-dialog>