<md-dialog aria-label="Nueva Mesa">
    <md-content class="sticky-container">
        <md-subheader class="md-sticky-no-effect">Nuevo Usuario</md-subheader>
        <div class="dialog-content">
            <form name="userForm">
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>Nombre</label>
                        <input ng-model="usuario.nombre" placeholder="Alfonoso">
                    </md-input-container>
                    <md-input-container flex>
                        <label>Apellido</label>
                        <input ng-model="usuario.apellido" placeholder="Perez">
                    </md-input-container>
                </div>
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>cedula</label>
                        <input ng-model="usuario.cedula" placeholder="000-0000000-0">
                    </md-input-container>
                    <md-select flex placeholder="Tipo de Usuario" ng-model="usuario.tipo">
                        <md-option ng-repeat="tipo in tiposUsuarios" value="{{tipo.type}}">{{tipo.name}}</md-option>
                    </md-select>
                </div>
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>Username</label>
                        <input ng-model="usuario.username" placeholder="alfperez">
                    </md-input-container>
                    <md-input-container flex>
                        <label>Password</label>
                        <input ng-model="usuario.password" type="password">
                    </md-input-container>

                </div>
            </form>
        </div>
    </md-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="answer('cancel')">
            Cancelar
        </md-button>
        <md-button ng-click="answer('useful')" class="md-primary">
            Guardar
        </md-button>
    </div>
</md-dialog>