<md-dialog aria-label="Nueva Mesa">
    <md-content class="sticky-container">
        <md-subheader class="md-sticky-no-effect">Nuevo Producto</md-subheader>
        <div class="dialog-content">
            <form name="userForm">
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>Nombre</label>
                        <input ng-model="producto.nombre" placeholder="Cucharrasco 8oz">
                    </md-input-container>
                    <md-input-container flex>
                        <label>Precio</label>
                        <input ng-model="producto.precio" placeholder="800.00">
                    </md-input-container>
                </div>
                <div layout layout-sm="column">
                    <md-select flex placeholder="Categoria" ng-model="producto.categoria">
                        <md-option ng-repeat="categoria in categorias" value="{{categoria.id}}">{{categoria.nombre}}</md-option>
                    </md-select>
                    <md-select flex placeholder="Color" ng-model="producto.color">
                        <md-option ng-repeat="color in colores" value="{{color}}">{{color}}</md-option>
                    </md-select>
                </div>

            </form>
        </div>
    </md-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="answer('cancel')">
            Cancelar
        </md-button>
        <md-button ng-click="answer('useful')" class="md-primary">
            Guardar
        </md-button>
    </div>
</md-dialog>