<md-dialog aria-label="Nueva Mesa">
    <md-content class="sticky-container">
        <md-subheader class="md-sticky-no-effect">Nueva Categoria</md-subheader>
        <div class="dialog-content">
            <form name="userForm">
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>Nombre de la Categoria</label>
                        <input ng-model="categoria.nombre" placeholder="Entradas">
                    </md-input-container>
                </div>
            </form>
        </div>
    </md-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="answer('cancel')">
            Cancelar
        </md-button>
        <md-button ng-click="answer('useful')" class="md-primary">
            Guardar
        </md-button>
    </div>
</md-dialog>