<md-dialog aria-label="Nueva Mesa">
    <md-content class="sticky-container">
        <md-subheader class="md-sticky-no-effect">Seleccionar Producto</md-subheader>
        <div class="dialog-content">
            <form name="userForm">
                <md-input-container flex>
                    <label>Cantidad</label>
                    <input type="number" ng-model="producto.cantidad" placeholder="5">
                </md-input-container>
                <md-input-container flex>
                    <label>Descuento</label>
                    <input type="number" ng-model="producto.descuento" placeholder="5%">
                </md-input-container>
            </form>
        </div>
    </md-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="answer('cancel')">
            Cancelar
        </md-button>
        <md-button ng-click="answer('useful')" class="md-primary">
            Añadir
        </md-button>
    </div>
</md-dialog>