<md-dialog aria-label="Nueva Mesa"style="width: 70%">
    <md-content class="sticky-container">
        <md-subheader class="md-sticky-no-effect">Mesas</md-subheader>
        <div class="dialog-content">

            <!--<section layout="row" flex>-->
                <!--<md-content flex class="md-padding">-->
                    <div class="gridListdemoBasicUsage">
                        <md-grid-list
                                md-cols-sm="2" md-cols-md="4" md-cols-gt-md="6"
                                md-row-height-gt-md="1:1" md-row-height="2:2"
                                md-gutter="12x" md-gutter-gt-sm="8px" >
                            <md-grid-tile ng-repeat="mesa in mesas track by $index" ng-click="doSomething(mesa.id)" class="{{mesa.status}}">
                                <md-grid-tile-footer>
                                    <h3>{{mesa.nombre}}</h3>
                                </md-grid-tile-footer>
                            </md-grid-tile>
                        </md-grid-list>
                    </div>
                <!--</md-content>-->
            <!--</section>-->
        </div>


        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button ng-click="cancel()">
                Cancelar
            </md-button>
        </div>
</md-dialog>