<md-dialog aria-label="Nueva Mesa">
    <md-content class="sticky-container">
        <md-subheader class="md-sticky-no-effect">Venta  {{producto.color}}</md-subheader>
        <div class="dialog-content">
                       <form name="userForm" ng-show="dividirQuest">
                <div layout layout-sm="column">
                    <md-select flex placeholder="Forma de Pago" ng-model="producto.color">
                        <md-option ng-repeat="currency in currencies " value="{{currency}}">{{currency}}</md-option>
                    </md-select>
                </div>
                <br/>
                <br/>
                <div ng-show="producto.color == 'Efectivo'">
                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label>Total a Pagar: </label>
                            <input disabled ng-model="$storage.values.total.toFixed(2)" placeholder="">
                        </md-input-container>
                    </div>
                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label>Recibido</label>
                            <input ng-model="recibido" type="number" placeholder="">
                        </md-input-container>
                        <md-input-container flex>
                            <label>devuelta: </label>
                            <input disabled ng-model="factura.devuelta" placeholder="">
                        </md-input-container>
                    </div>
                </div>
                <div ng-show="producto.color == 'Tarjeta'">
                    <md-progress-circular class="md-warn md-hue-3" md-mode="indeterminate"></md-progress-circular>
                </div>
            </form>
            <div ng-hide="dividirQuest">
                <!--<div layout layout-sm="column">-->
                    <!--<md-input-container flex>-->
                        <!--<label>Total a Pagar: </label>-->
                        <!--<input disabled ng-model="$storage.values.total.toFixed(2)" placeholder="">-->
                    <!--</md-input-container>-->
                <!--</div>-->
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>Cantidad de Dividr</label>
                        <input ng-model="dividir.cantidad" type="number" placeholder="">
                    </md-input-container>
                </div>
                Total por Persona: {{($storage.values.total / dividir.cantidad).toFixed(2)}}

            </div>
        </div>
    </md-content>
    <div class="md-actions" layout="row">
        <span flex></span>
        <md-button ng-click="showDivide()">
            Dividir
        </md-button>
        <md-button ng-click="answer('cancel')">
            Cancelar
        </md-button>
        <md-button ng-click="answer('useful')" class="md-primary">
            Finalizar
        </md-button>
    </div>
</md-dialog>